<%= form_for @domain, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :fqdn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fqdn, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :alias, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :alias, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, User.all, :id, :name, {:prompt => 'Select owner'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mail_path, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mail_path, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                domains_path, :class => 'btn' %>
  </div>
<% end %>
