<%= form_for(@mailbox) do |f| %>
  <% if @mailbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul>
      <% @mailbox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :domain_id %><br />
    <%= f.collection_select :domain_id, Domain.all, :id, :fqdn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
