<h1>Listing mailboxes</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Domain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailboxes.each do |mailbox| %>
  <tr>
    <td><%= mailbox.user_name %></td>
    <td>@<%= mailbox.domain.fqdn %></td>
    <td><%= link_to 'Show', mailbox %></td>
    <td><%= link_to 'Edit', edit_mailbox_path(mailbox) %></td>
    <td><%= link_to 'Destroy', mailbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailbox', new_mailbox_path %>
